html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box; }

html {
  line-height: 1; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

img {
  max-width: 100%;
  height: auto;
  border: none; }

a {
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
  box-sizing: border-box; }

:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.cf:before, .cf:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.cf:after {
  clear: both; }

span {
  display: inline-block; }

/*@font-face {
	font-family: "bebasneue";
	src: url("../fonts/BebasNeue/Bebas_Neue_Cyrillic.eot");
	src: url("../fonts/BebasNeue/Bebas_Neue_Cyrillic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/BebasNeue/BebasNeueCyrillic.woff") format("woff"),
	url("../fonts/BebasNeue/BebasNeueCyrillic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

*/
body {
  overflow-x: hidden;
  min-width: 320px; }

.pp {
  width: 100%;
  position: absolute;
  top: 0px;
  opacity: 0.6;
  display: none;
  z-index: 55; }
  .pp img {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 100%;
    max-width: 1200px; }
  .pp.visible {
    display: block; }

.site-wrapper {
  max-width: 1008px;
  width: 100%;
  margin: 0 auto;
  padding: 0 14px; }

.clear-fix:after {
  content: "";
  display: table;
  clear: both; }

/************************************************************************
// 1. HERO-HEADER
*************************************************************************/
/************************************************************************
// 2. FIRST SEREN
*************************************************************************/
/************************************************************************
// 3. SECOND SCREEN
*************************************************************************/
/************************************************************************
// 4. THIRD SECTION
*************************************************************************/
/************************************************************************
// 5. FOOTER
*************************************************************************/
/************************************************************************
// 6. FIRST SCREEN THX
*************************************************************************/
/************************************************************************
// 7. SECOND SCREEN THX
*************************************************************************/
/************************************************************************
// 8. THIRD SCREEN THX
*************************************************************************/
/************************************************************************
// 9. TP 1-ST SCREEN
*************************************************************************/
/************************************************************************
// 10. TP 2-ND SCREEN
*************************************************************************/
/************************************************************************
// 11. TP 3-RD SCREEN
*************************************************************************/
/************************************************************************
// 12. TP 4-TH SCREEN
*************************************************************************/
/************************************************************************
// 12. TP 5-TH SCREEN
*************************************************************************/
/************************************************************************
// 13. TP 6-TH SCREEN
*************************************************************************/
/************************************************************************
// 14. TP FOOTER SCREEN
*************************************************************************/
/* --------------------------------1300------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
/* --------------------------------1010------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
/* --------------------------------992------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
/* --------------------------------900------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
/* --------------------------------800------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
/* --------------------------------700------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
/* ----------------------------650 - 600----------------------------------- */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------ */
/* --------------------------------500------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
/* --------------------------------400------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
